/* ---------------------------
   Montserrat Variable
--------------------------- */
@font-face {
  font-family: "Montserrat";
  src:
    url("/fonts/Montserrat/Montserrat-VariableFont_wght.woff2") format("woff2"),
    url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.woff2")
      format("woff2"),
    url("/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf")
      format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* ---------------------------
   Roboto Variable
--------------------------- */
@font-face {
  font-family: "Roboto";
  src:
    url("/fonts/Roboto/Roboto-VariableFont_wdth,wght.woff2") format("woff2"),
    url("/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("/fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.woff2")
      format("woff2"),
    url("/fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf")
      format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: italic;
  font-display: swap;
}

/* ---------------------------
   Roboto Mono Variable
--------------------------- */
@font-face {
  font-family: "RobotoMono";
  src:
    url("/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.woff2") format("woff2"),
    url("/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf")
      format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoMono";
  src:
    url("/fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.woff2")
      format("woff2"),
    url("/fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf")
      format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: italic;
  font-display: swap;
}

/* ---------------------------
   Inter Variable
--------------------------- */
@font-face {
  font-family: "Inter";
  src:
    url("/fonts/Inter/Inter-VariableFont_opsz,wght.woff2") format("woff2"),
    url("/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    url("/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.woff2")
      format("woff2"),
    url("/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf")
      format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: italic;
  font-display: swap;
}
